In [2]:
import pandas as pd
import numpy as np

In [3]:
liquor = pd.read_csv("./data/Liquor_Authority_Current_List_of_Active_Licenses.csv")

/Users/vrishtijain/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
liquor.head()

,Serial Number,County,License Type Code,License Class Code,Certificate Number,Premise Name,DBA,Premise Address,Premise Address 2,Premise City,Premise State,Premise Zip,License Issued Date,License Expiration Date,Method of Operation,Days/Hours of Operation,Other,Georeference
0,1211367,QUEENS,A,122,893968,BEREZKA I INC,NaN,64 51 108TH STREET,NaN,FOREST HILLS,NY,11375,10/02/2017,11/30/2020,GROCERY STORE SELLING BEER AND CIDER,NaN,NaN,NaN
1,1294847,SUFFOLK,SL,548,916482,J & B RESTAURANT PARTNERS TOP FLIGHT FOODS LLC,NaN,HARBOR BEACH RD,NaN,MT SINAI,NY,11766,03/17/2020,11/30/2020,"RESTAURANT SERVING LIQUOR, WINE, BEER, & CIDER",NaN,"Licensed Deck, Live/Recorded Music",NaN
2,1256679,QUEENS,AX,122,895874,BAISLEY SERVICES INC,NaN,122 05 MERRICK BLVD,NaN,JAMAICA,NY,11434,12/13/2017,12/31/2020,GROCERY STORE SELLING BEER CIDER AND WINE PROD...,NaN,NaN,NaN
3,2197782,RENSSELAER,A,122,895921,I LOVE NY DELI & GROCERIES INC,NaN,664 5TH AVE,NaN,TROY,NY,12182,12/15/2017,12/31/2020,GROCERY STORE SELLING BEER CIDER,NaN,NaN,POINT (-73.672031 42.777535)
4,1293186,QUEENS,OP,252,900551,JUNGO ROAD LLC,THE DEEP END,1080 WYCKOFF AVE,ROOM 103,RIDGEWOOD,NY,11385,12/28/2018,12/31/2020,"RESTAURANT SERVING LIQUOR,WINE BEER AND CIDER",7 days/week Noon-4am,NaN,POINT (-73.90221 40.694511)

In [5]:
authorised_liquor_store = liquor[['Serial Number', 'License Type Code', 'License Class Code', 'Certificate Number'
                                 , 'Premise Name', 'DBA','License Issued Date', 'License Expiration Date', 'Method of Operation'
                                 ]]

In [6]:
liquor['Premise Address 2'].unique()

array([nan, 'ROOM 103', 'STE B', ..., 'LEE & SHERMAN AVES', '28TH ST',
       'T/O CHILI, STE B18'], dtype=object)

In [7]:
liquor_address = liquor[['Serial Number', 'Premise Address', 'Premise City' ,'Premise State', 'Premise Zip', 'Georeference' ]]

In [8]:
liquor_county_zip = liquor[['Premise Zip', 'County' ]]

In [9]:
farmers = pd.read_csv("./data/Farmers__Markets_in_New_York_State.csv")
farmers.head()

,County,Market Name,Location,Address Line 1,City,State,Zip,Contact,Phone,Market Link,Operation Hours,Operation Season,Operating Months,FMNP,SNAP,FCC Issued,FCC Accepted,Latitude,Longitude,Georeference
0,Seneca,Ovid Farmers Market,Main Street Ovid at Three Bears Park,Main Street,Ovid,NY,14521.0,Patti Paine Battley,3155399251,NaN,Friday 3pm-7pm,June 19-September 25,M,Y,Y,N,Y,42.67552,-76.82293,"(42.67552, -76.82293)"
1,Niagara,Veggie Van MM-Taggert Playground,135 Odell St Lackawanna,135 Odell St,Lackawanna,NY,14218.0,Jen Regan,7162990905,http://cceniagaracounty.org/communities/creati...,Wed 2:30pm-3:30pm,June 1-October 31,M,Y,Y,N,Y,42.82093,-78.84284,"(42.82093, -78.84284)"
2,Tompkins,Brooktondale Farmers' Market,"Brooktondale Community Center, 522 Valley Rd. ...",522 Brooktondale Road,Brooktondale,NY,14817.0,Barbara Perrone,6075393244,http://bccmarket.wordpress.com,Thursday 4pm-7pm,June 4-September 24,M,Y,N,N,Y,42.38185,-76.39376,"(42.38185, -76.39376)"
3,Albany,Veggie Mobile-North Albany YMCA,616 N. Pearl St. Albany,616 North Pearl Street,Albany,NY,12204.0,Audrey Bridge,5182748685,http://www.capitalroots.org,Wed 4:45pm-5:45pm,Year-round,YR,Y,Y,Y,Y,42.67368,-73.73953,"(42.67368, -73.73953)"
4,Orleans,Lori's Market Basket Farm Stand,51 State St. Holley,51 State Street,Holley,NY,14470.0,Lori Passarell,5853310708,NaN,Daily 9am-6pm,May 1-November 30,P/M,Y,N,N,Y,43.22135,-78.02329,"(43.22135, -78.02329)"

In [10]:
farmers_market = farmers[['Market Name', 'Address Line 1', 'City' , 'Zip', 'Contact', 'State'
                         ,'Phone', 'Market Link', 'Operation Hours', 'Operation Season', 
                         'Operating Months', 'FMNP', 'SNAP', 'FCC Issued', 'FCC Accepted', 'Latitude','Longitude' ]]

In [11]:
farmer_county_zip = farmers[['Zip', 'County']]

In [12]:
retail =  pd.read_csv("./data/Retail_Food_Stores.csv")
retail.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Location
0,Albany,733149,Store,A,SPEEDWAY LLC,12110,719,NEW LOUDON RD,,,LATHAM,NY,12110,300,"719 NEW LOUDON RD\nLATHAM, NY 12110\n(42.73961..."
1,Albany,704590,Store,JAC,1250 SELKIRK INC,1250 SELKIRK,1250,RTE 9W & 396,,,SELKIRK,NY,12158,3000,"1250 RTE 9 W\nSELKIRK, NY 12158\n(42.547591, -..."
2,Albany,727909,Store,JAC,RED-KAP SALES INC,1667 GENERAL STORE,1667,WESTERN AVENUE,,,ALBANY,NY,12203,2000,"1667 WESTERN AVENUE\nALBANY, NY 12203\n(42.686..."
3,Albany,720557,Store,JAC,"SAEED SADIQ, SAIKA NOREEN",19 STREET QUICK STOP,315,19TH STREET,,,WATERVLIET,NY,12189,1200,"315 19TH STREET\nWATERVLIET, NY 12189\n(42.730..."
4,Albany,15890,Store,A,AZIZ MOHAMMAD S,24 HR ALBANY NEWS,8,CENTRAL AVE,,,ALBANY,NY,12210,1800,"8 CENTRAL AVE\nALBANY, NY 12210\n(42.657136, -..."

In [13]:
retail_food_stores = retail[['License Number', 'Establishment Type', '']]

KeyError: "[''] not in index"

In [14]:
retail_food_stores = retail[['License Number', 'Establishment Type', 'Entity Name', 
                            'DBA Name', 'Street Number', 'Street Name', 'City', 
                           'State', 'Operation Type', 'Zip Code', 'Square Footage'  ]]

In [15]:
retail_county_zip = retail[['Zip Code', 'County']]

In [16]:
state_zip = pd.read_csv("./data/New_York_State_ZIP_Codes-County_FIPS_Cross-Reference.csv")

In [17]:
new_york_state_zip_code = state_zip[['State FIPS', 'County Code', 'ZIP Code', 'File Date']]

In [18]:
state_zip.head()

  County Name  State FIPS  County Code  County FIPS  ZIP Code   File Date
0      Albany          36            1        36001     12007  07/25/2007
1      Albany          36            1        36001     12009  07/25/2007
2      Albany          36            1        36001     12023  07/25/2007
3      Albany          36            1        36001     12041  07/25/2007
4      Albany          36            1        36001     12045  07/25/2007

In [19]:
county_name_code = state_zip[['County Name', 'County Code']]

In [20]:
county_zip =state_zip[['ZIP Code', 'County Name']]

In [21]:


# now have to make global_county_zip_code
# county_zip , retail_county_zip , farmer_county_zip
# liquor_county_zip
county_zip.columns =['zip', 'county']
retail_county_zip.columns =['zip', 'county']
farmer_county_zip.columns =['zip', 'county']
liquor_county_zip.columns =['zip', 'county']

In [22]:
frames = [county_zip, retail_county_zip, farmer_county_zip,liquor_county_zip ]

global_county_zip_code = pd.concat(frames)

In [23]:
global_county_zip_code.shape

(82066, 2)

In [24]:
global_county_zip_code=global_county_zip_code.drop_duplicates(subset='zip')

In [27]:
global_county_zip_code.shape

(4333, 2)

In [26]:
for row in global_county_zip_code:
    print( row)

zip
county

ModuleNotFoundError: No module named 'MySQLdb'

In [31]:
global_county_zip_code.to_csv('./data/preprocessed/global_county_zip_code.csv')
county_name_code.to_csv('./data/preprocessed/county_name_code.csv')
retail_food_stores.to_csv('./data/preprocessed/retail_food_stores.csv')
authorised_liquor_store.to_csv('./data/preprocessed/authorised_liquor_store.csv')
liquor_address.to_csv('./data/preprocessed/liquor_address.csv')
farmers_market.to_csv('./data/preprocessed/farmers_market.csv')
new_york_state_zip_code.to_csv('./data/preprocessed/new_york_state_zip_code.csv')